* {
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
  }
  
  html{
      scroll-behavior: smooth; 
  }
  
  body{
      background-color: aqua;
  }

  .container-block{
    margin:0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background-block{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    width:600px;
    height: 400px;
    background-color:cadetblue;
    box-shadow: 0 0 10px #000000;
    overflow-x: hidden;

}

.slider{
    width:600px;
    height: 300px;
    overflow: hidden;
}

.slider-items{
    width:500%;
    height: 400px;
    display: flex;
}

.slider-items input{
    display: none;
}
.item{
    width:20%;
    transition: 2s;
    background-color: cadetblue;
}

.item img{
    width: 100%;
    height: auto;
}

.item h4{
    position: absolute;
    color: aliceblue;
    bottom: 20px;
    width: 100%;
    text-align: left;
    z-index: 10;
    font-size: 20px;
}
.nav_click{
    position: absolute;
    width: 400px;
    right: 0;
    margin-top: -75px;
    justify-content: flex-end;
    display: flex;
    padding-right: 10px;
    z-index: 20;
    padding: 10px 0;
    background-color: cadetblue;
}

.btn_click{
    border:2px solid burlywood;
    padding: 4px;
    border-radius: 4px;
    width: 30px;
    cursor: pointer;
    transition: 1s;
    z-index: 6;
}

.btn_click:not(:last-child){
    margin-right: 10px;
}
.btn_click:hover{
    background-color: brown;
}

#radio_1:checked ~.first{
    margin-left: 0;
}

#radio_2:checked ~.first{
    margin-left: -20%;
}
#radio_3:checked ~.first{
    margin-left: -40%;
}
#radio_4:checked ~.first{
    margin-left: -60%;
}
#radio_5:checked ~.first{
    margin-left: -80%;
}