* {
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
  }
  
  html{
      scroll-behavior: smooth; 
  }
  
  body{
      background-color: aqua;
  }

  .container-block{
    margin:0 auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    
}
.background-block{
    position: static;
    margin:20vh 2vh;
    display: flex;
    width:600px;
    height: 400px;
    background-color:cadetblue;
    box-shadow: 0 0 10px #000000;
    overflow-x: hidden;

}

.slider{
    width:100%;
    overflow: hidden;
}

.slider-items{
    width:500%;
    height: 100%;
    display: flex;
}

.slider-items input{
    display: none;
}
.item{
    width:20%;
    transition: 2s;
    background-color: cadetblue;
}

.item img{
    width: 100%;
    height: auto;
}

.item h4{
    color: aliceblue;
    width: 100%;
    text-align: left;
    font-size: 1.3rem;
}
.nav_click{
    margin-top: -8.5vh;
    justify-content: flex-end;
    display: flex;
    background-color: cadetblue;
}

.btn_click{
    border:0.3vh solid burlywood;
    padding: 0.6vh;
    border-radius: 0.8vh;
    width: 30px;
    cursor: pointer;
    transition: 1s;
}

.btn_click:not(:last-child){
    margin-right: 10px;
}
.btn_click:hover{
    background-color: brown;
}

#radio_1:checked ~.first{
    margin-left: 0;
}

#radio_2:checked ~.first{
    margin-left: -20%;
}
#radio_3:checked ~.first{
    margin-left: -40%;
}
#radio_4:checked ~.first{
    margin-left: -60%;
}
#radio_5:checked ~.first{
    margin-left: -80%;
}

@media (max-width:426px) {
    .background-block{
        height:260px;
    }
    .nav_click{
        justify-content: center;
    }
}

@media (max-width:376px) {
    
    .nav_click{
        margin-top: -13.5vh;
    }
}
@media (max-width:321px) {
    
    .nav_click{
        margin-top: -18.5vh;
    }
}